<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}"></head>

<body>

    <head th:insert="~{index :: navbar}"></head>

    <div class="container-fluid p-5 bg-secondary-subtle text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <span class="h1">Modifica articolo</span>
                <h2 th:text="${article.title}">Titolo</h2>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-12 col-md-9">
                <form th:action="@{/articles/update/{id}(id=${article.id})}"
                      method="post"
                      th:object="${article}"
                      enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Titolo</label>
                        <input id="title"
                               type="text"
                               class="form-control"
                               th:field="*{title}">
                        <p th:errors="*{title}"
                           class="text-danger"
                           th:if="${#fields.hasErrors('title')}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="subtitle" class="form-label">Sottotitolo</label>
                        <input id="subtitle"
                               type="text"
                               class="form-control"
                               th:field="*{subtitle}">
                        <p th:errors="*{subtitle}"
                           class="text-danger"
                           th:if="${#fields.hasErrors('subtitle')}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="body" class="form-label">Articolo</label>
                        <textarea id="body"
                                  class="form-control"
                                  th:field="*{body}">
                        </textarea>
                        <p th:errors="*{body}"
                           class="text-danger"
                           th:if="${#fields.hasErrors('body')}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="publishDate" class="form-label">
                            Publish date (yyyy-mm-dd)
                        </label>
                        <input id="publishDate"
                               type="date"
                               class="form-control"
                               th:field="*{publishDate}"
                               placeholder="yyyy-mm-dd">
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Categoria</label>
                        <select id="category"
                                class="form-select"
                                th:field="*{category}">
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}">
                            </option>
                        </select>
                        <p th:errors="*{category}"
                           class="text-danger"
                           th:if="${#fields.hasErrors('category')}"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Immagine dell’articolo</label>

                        <div th:if="${article.image != null}">
                            <img th:src="${article.image.path}"
                                 class="img-fluid"
                                 alt="Immagine articolo">
                        </div>

                        <div th:unless="${article.image != null}">
                            <p>Immagine non presente</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Immagine</label>
                        <input type="file"
                               name="file"
                               id="image"
                               class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success">
                        Modifica articolo
                    </button>

                </form>
            </div>

        </div>
    </div>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>

</body>
</html>
