:root {

    /*colors*/
    --main: rgb(215, 224, 224);
    --sec: rgb(211, 202, 202);
    --acc: rgb(37, 59, 52);

    /*fonts*/
    --f: 'Lora', serif;
    --f1: 'Playfair Display', serif;
}

body {
    color: var(--sec);
    background-color: var(--main);
    font-family: var(--f);
    font-size: larger;
}

nav {
    color: var(--sec);
    background-color: var(--acc);
}

footer {
    background-color: var(--acc);
}

h2, h3, h4, h5 {
    color: var(--acc) !important;
    font-family: var(--f1);
}

h1 {
    color: var(--acc) !important;
}

a {
    color: var(--sec) !important;
}

.dropdown-item {
    color: var(--acc) !important;
}

p {
    color: var(--sec);
}

label {
    color: var(--acc);
}

span {
    color: var(--acc) !important;
}

.brand {
    color: var(--acc) !important;
}

.card {
    background-color: var(--acc);
}